/*
Namespace: Layout
*/
.flex {
  display: flex;
}

.horizontalstack {
  display: inline-flex;
}

.verticalstack {
  display: flex;
  flex-direction: column;
}

.spacebetween {
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.grid-left {
  grid-column: 2/3;
}

.grid-middle {
  grid-column: 3/11;
}

.grid-right {
  grid-column: 11/12;
}

.width100 {
  width: 100%;
}

.center {
  justify-content: center;
}

.align-center {
  align-content: center;
}

/*
Namespace: Spacing
*/
.gap-rem {
  gap: 1rem;
}

.gap-half-rem {
  gap: 0.5rem;
}

.pad-rem {
  padding: 1rem;
}

.pad-half-rem {
  padding: 0.5rem;
}

.pad-t-4rem {
  padding-top: 4rem;
}

.marg-vert-small {
  margin: 4px 0px;
}

/*
Namespace: Scroll
*/

.horizontalscroll {
  overflow-x: auto;
  flex-wrap: nowrap;
}

/*
Namespace: Border
*/
.b-b {
  border-bottom: var(--default-border);
}

.b {
  border: var(--default-border);
  border-radius: 0.33rem;
}

/*
Namespace: Colors
*/

.invis {
  visibility: hidden;
}

.error {
  color: var(--error);
}

/*
Namespace: Font
*/

.font-large {
  font-size: larger;
}

.font-small {
  font-size: small;
}

/*
Namespace: Input
*/

.inp-primary {
  border: var(--default-border);
  border-radius: var(--default-border-radius);
  background-color: transparent;
  width: 100%;
  font-size: var(--font-reading);
  font-family: "Google Sans Code", monospace;
  color: var(--darkest);
  height: 2rem;
}

.inp-primary:focus {
  outline: none;
  border: solid var(--accent) 1px;
}

/*
Namespace: Button
*/
.sec-btn {
  background-color: transparent;
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: var(--font-reading);
  color: var(--darkest);
  border: 0;
  cursor: pointer;
  padding: 0.5rem;
  text-align: left;
}
.sec-btn:hover {
  color: var(--accent);
}

.prim-btn {
  background-color: var(--accent);
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: var(--font-reading);
  color: var(--light);
  border: 0;
  border-radius: var(--default-border-radius);
  padding: 0.5rem;
  cursor: pointer;
  text-align: center;
}
.prim-btn:hover {
  color: var(--darkest);
}

.ter-btn {
  background-color: var(--lighter);
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: var(--font-reading);
  color: var(--darkest);
  border: 0;
  border-radius: var(--default-border-radius);
  padding: 0.5rem;
  cursor: pointer;
}
.ter-btn:hover {
  color: var(--accent);
}

.quad-btn {
  background-color: transparent;
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: var(--font-reading);
  color: var(--darkest);
  border: var(--default-border);
  border-radius: var(--default-border-radius);
  cursor: pointer;
  padding: calc(0.5rem - 1px);
}
.quad-btn:hover {
  color: var(--accent);
}

/*
Namespace: Mobile Responsiveness
*/

.mobile-visible {
  display: none;
}

.mobile-hidden {
  display: flex;
}

@media (max-width: 768px) {
  .mobile-visible {
    display: flex;
  }

  .mobile-hidden {
    display: none;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .grid-left,
  .grid-middle,
  .grid-right {
    grid-column: 1 / -1;
  }
}

/*
Namespace: Animations
*/
@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-slide-in {
  animation: fadeSlideIn 0.4s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}
