/*
Namespace: Layout
*/
.horizontalstack {
  display: inline-flex;
}

.verticalstack {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.grid-left {
  grid-column: 2/3;
}

.grid-middle {
  grid-column: 3/11;
}

.grid-right {
  grid-column: 11/12;
}

.width100 {
  width: 100%;
}

.center {
  justify-content: center;
}

/*
Namespace: Spacing
*/
.gap-rem {
  gap: 1rem;
}

.gap-half-rem {
  gap: 0.5rem;
}

.pad-rem {
  padding: 1rem;
}

.pad-half-rem {
  padding: 0.5rem;
}

.pad-t-4rem {
  padding-top: 4rem;
}

/*
Namespace: Border
*/
.b-b {
  border-bottom: var(--default-border);
}

.b {
  border: var(--default-border);
  border-radius: 0.33rem;
}

/*
Namespace: Colors
*/

.invis {
  color: transparent;
}

/*
Namespace: Font
*/

.font-large {
  font-size: larger;
}

/*
Namespace: Button
*/
.sec-btn {
  background-color: transparent;
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: var(--font-reading);
  color: var(--darkest);
  border: 0;
  cursor: pointer;
  padding: 0.5rem;
  text-align: left;
}
.sec-btn:hover {
  color: var(--accent);
}

.prim-btn {
  background-color: var(--accent);
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: var(--font-reading);
  color: var(--light);
  border: 0;
  border-radius: var(--default-border-radius);
  padding: 0.5rem;
  cursor: pointer;
}
.prim-btn:hover {
  color: var(--darkest);
}

.ter-btn {
  background-color: var(--lighter);
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: var(--font-reading);
  color: var(--darkest);
  border: 0;
  border-radius: var(--default-border-radius);
  padding: 0.5rem;
  cursor: pointer;
}
.ter-btn:hover {
  color: var(--accent);
}

.quad-btn {
  background-color: transparent;
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: var(--font-reading);
  color: var(--darkest);
  border: var(--default-border);
  border-radius: var(--default-border-radius);
  cursor: pointer;
  padding: calc(0.5rem - 1px);
}
.quad-btn:hover {
  color: var(--accent);
}
